<form action="/addCliente" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre del cliente</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="number" class="form-label">Numero del cliente</label>
    <input type="text" class="form-control" id="price" name="number">
  </div>
  <div class="mb-3">
    <label for="debe" class="form-label">Cuanto debe?</label>
    <input type="text" class="form-control" id="price" name="debe">
  </div>
  <div class="boton-container ">
      <button type="submit" class="btn btn-primary agregarVenta">Enviar</button>
  </div>
</form>