<form action="/addCompra" method="POST">
  <div class="mb-3">
    <label for="proveedor" class="form-label">Nombre del proveedor</label>
    <input type="text" class="form-control" id="proveedor" name="proveedor">
  </div>
  <div class="mb-3">
    <label for="cuil" class="form-label">CUIL</label>
    <input type="text" class="form-control" id="cuil" name="cuil">
  </div>
  <div class="mb-3">
    <label for="monto" class="form-label">Monto</label>
    <input type="text" class="form-control" id="monto" name="monto">
  </div>
  <div class="mb-3">
    <label for="fecha" class="form-label">Fecha</label>
    <input type="text" class="form-control" id="fecha" name="fecha">
  </div>
  <div class="boton-container">
      <button type="submit" class="btn btn-primary ">Agregar</button>
  </div>
</form>