body{
    font-family: 'Quicksand', sans-serif;
}


.img{
    width: 150px;
    height: 150px;
}


.container-img{
    height: 70vh;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.boton-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.body-ventas{
    font-size: small;
}

.agregarVenta{
    text-decoration: none;
    display: grid;
    place-items: center;
    border: solid black;
    
}

a{
    margin-bottom: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

.td-container{
    display: flex;
    justify-content: space-between;

}

.botonEditar{
    color: blue;
}


.botonEliminar{
    color: red;
}

.td-container2{
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.inputBuscar{
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.inputNada{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.inputTodos{
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}